#codepen1 {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #0E61DC;
  width: 36px;
  height: 36px;
  border-radius:100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}
#codepen2 {
  position: fixed;
  bottom: 70px;
  right: 30px;
  background: #363636;
  width: 36px;
  height: 36px;
  border-radius:100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}
#codepen3 {
  position: fixed;
  bottom: 110px;
  right: 30px;
  background: #363636;
  width: 36px;
  height: 36px;
  border-radius:100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}
#codepen4 {
  position: fixed;
  bottom: 150px;
  right: 30px;
  background: #363636;
  width: 36px;
  height: 36px;
  border-radius:100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}
#codepen5 {
  position: fixed;
  bottom: 190px;
  right: 30px;
  background: #363636;
  width: 36px;
  height: 36px;
  border-radius:100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}
#codepen6 {
  position: fixed;
  bottom: 230px;
  right: 30px;
  background: #363636;
  width: 36px;
  height: 36px;
  border-radius:100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}
#codepen7 {
  position: fixed;
  bottom: 270px;
  right: 30px;
  background: #363636;
  width: 36px;
  height: 36px;
  border-radius:100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}
#codepen1 i,#codepen2 i,#codepen3 i,#codepen4 i,#codepen5 i,#codepen6 i,#codepen7 i {
  line-height: 36px;

}
#codepen1:hover,#codepen2:hover,#codepen3:hover,#codepen4:hover,#codepen5:hover,#codepen6:hover,#codepen7:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
